{% load static %}
<img align="right" src="{% static 'blog/banner.jpg' %}" width="150">
<div style="max-width:800px; margin:auto; font-family:georgia; font-size:1.1em; line-height:1.3;">
<h1>Show me the data</h1>

{% for post in object_list %}
    <h2><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
    <p><i>{{ post.timestamp|date:"M d, Y" }}</i></p>
    <p>{{ post.content|linebreaks|truncatechars:200 }}</p>
    <p style="color:blue;">tags:
    {% for tag in post.tags.all %}
        <a href="/posts/{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}</p>
    <hr>
{% endfor %}
</div>