<div style="max-width:800px; margin:auto; font-family:georgia; font-size:1.1em; line-height:1.5;
    color: #545454;">
<h1>Show me the data</h1>

<p><a style="color: #7BA7B6" href="/posts">all blog posts</a>

<h2>{{ post.title }}</h2>
<p><i>{{ post.timestamp|date:"M d, Y" }}</i></p>
<p>{{ post.content|linebreaks }}</p>
<p><pre>{{ post.code|linebreaks }}</pre></p>
{% if post.image %}
    <p><img src="{{ post.image.url }}" style='max-width:100%;'></p>
{% endif %}
<p><i>tags:</i>
{% for tag in post.tags.all %}
    <a style="color: #36A93B" href="/posts/{{ tag.name }}">{{ tag.name }}</a>
{% endfor %}</p>
<hr>

</div>